DATABASE_URL=YOUR_DB_URL
PORT=1323
QISCUS_BASE_URL=https://multichannel.qiscus.com
QISCUS_ALL_AGENT_PATH=/api/v1/admin/agents
QISCUS_ASSIGN_AGENT_PATH=/api/v1/admin/service/assign_agent
QISCUS_APP_ID=YOUR_APP_ID
QISCUS_SECRET_KEY=YOUR_SECRET_KEY
